@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body
{
    font-family: 'Karla', sans-serif;
}

/*nav bar*/
header
{
	display: flex;
	width: 75%;
	height: 10vh;
	margin: auto;
	align-items: center;
    padding-top: 3.777777777777778rem;
    padding-bottom: 6.777777777777778rem;
    z-index: 1000;
    background: #fff;
}

nav
{
    display: flex;
}

.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 40px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    z-index: 1;
    /* border: 3px solid green; */
  }
.menu-btn__burger 
{
    cursor: pointer;
    width: 1.65rem;
    height: 2px;
    background: #4c4c4c;
    transition: all .1s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after 
{
    content: '';
    position: absolute;
    cursor: pointer;
    width: 1.65rem;
    height: 2px;
    background: #4c4c4c;
    transition: all .2s ease-in-out;
}

.menu-btn__burger::before 
{
    transform: translateY(-6px);
}
.menu-btn__burger::after 
{
    transform: translateY(6px);
}

.menu-btn:hover .menu-btn__burger::before 
{
    transform: translateY(-8px);
}

.menu-btn:hover .menu-btn__burger::after 
{
    transform: translateY(8px);
}

/* ANIMATION */
.menu-btn.open .menu-btn__burger
{
    background: transparent;
    box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before 
{
    transform: rotate(45deg);
}
.menu-btn.open .menu-btn__burger::after 
{
    transform: rotate(-45deg);
}

.logo-container
{
	display: flex;
    z-index: 2;
}

.logo-container
{
	flex: 1;
}

.nav-brand
{
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
    letter-spacing: 2px;
}

.nav-brand a
{
    color: #545454;
    text-decoration: none;
}

.nav-links 
{
    display: flex;
    list-style: none;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
}

.nav-links li a 
{
    color: #d1d1d1;
    text-decoration: none;
    font-size: 17px;
    font-weight: 700;
    transition: 0.8s;
}

.nav-links li.active a
{
    color: #545454;
}

.nav-links li a:hover
{
    color: #545454;
    transition: 0.8s;
}

.nav-link
{
    padding: .5rem 1.5rem;
}
/*nav bar ends*/